<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GramImage Ai - Your AI Partner for infection Analysis</title>
    <meta name="description" content="Discover the innovative AI-powered solution for infection analysis. GramImage Ai provides accurate, fast, and reliable results for your scientific and medical needs.">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="static/css/connecting_dots_loginbutton.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>

<body>
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyCqtMlpS6GMIcw0m5g21Es-aJYzwWWRnr4",
      authDomain: "gramimageai-411005.firebaseapp.com",
      projectId: "gramimageai-411005",
      storageBucket: "gramimageai-411005.appspot.com",
      messagingSenderId: "451399053421",
      appId: "1:451399053421:web:98edcf513a3742699dcf64"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
  </script>
  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
      <h1 class="main-title">Rebuild <span class="thin">microbes</span></h1>
      <button class="bubbly-button">Login</button>
  </div>
    <script src="static/js/rolling_dots.js"></script>
    <script src="static/js/login_button.js"></script>
</body>
</html>
