<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GramImage Ai - Your AI Partner for infection Analysis</title>
    <meta name="description" content="Discover the innovative AI-powered solution for infection analysis. GramImage Ai provides accurate, fast, and reliable results for your scientific and medical needs.">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="static/css/connecting_dots_loginbutton_card.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>

<body>
  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <h1 class="main-title">Rebuild <span class="thin">microbes</span></h1>
    <div class="card-container">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="static/assets/Minimalist Website Launch Computer Mockup Instagram Post (1).png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            Discover the innovative AI-powered solution for infection analysis!
            <br>
            (感染症の分析のための革新的なAIパワードソリューションをご紹介します。)
            <br>
            <a href="https://remicrobes.com" class="button is-primary bubbly-button">Use Gramimage AI</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="static/assets/Black & White Gradient Digital Marketing Instagram Post.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            From DNA Sequencing to Antimicrobial Susceptibility Testing, AI's Got Your Back!
            <br>
            (塩基配列から薬剤感受性試験までAIでサポート)
            <br>
            <a href="https://remicrobes.com" class="button is-primary bubbly-button">Nucleotides to AST</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="static/js/rolling_dots.js"></script>
  <script src="static/js/login_button.js"></script>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>Copyright (c) 2024 by Marco Guglielmelli (<a href="https://codepen.io/MarcoGuglielmelli/pen/ExGYae" target="_blank">https://codepen.io/MarcoGuglielmelli/pen/ExGYae</a>)</p>
    </div>
  </footer>
</body>

</html>
