<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GramImage Ai - Your AI Partner for infection Analysis</title>
    <meta name="description" content="Discover the innovative AI-powered solution for infection analysis. GramImage Ai provides accurate, fast, and reliable results for your scientific and medical needs.">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="static/css/connecting_dots_loginbutton.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>

<body>
  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
      <h1 class="main-title">Rebuild <span class="thin">microbes</span></h1>
      <button class="bubbly-button">Login</button>
  </div>
    <script src="static/js/rolling_dots.js"></script>
    <script src="static/js/login_button.js"></script>
</body>
</html>
